.cornflowerblue{
    background-color: cornflowerblue;
}

.firebrick{
    background-color: firebrick;
}

.khaki{
    background-color: khaki;
}

.greenyellow{
    background-color: greenyellow;
}

.lseagreen{
    background-color: lightseagreen;
}

.saddlebrown{
    background-color: saddlebrown;
}

.lightgreen{
    background-color: lightgreen;
}

.mediumaquamarine{
    background-color: mediumaquamarine;
}