body{background-color: lightskyblue;}
.text1{color: #ff0007;  font-size: 180%;}
.text2{color: #f976ff;  font-size: 110%;}
.text3{color: #3a3aff;  font-size: 180%;}
.text4{color: #29d23d;  font-size: 110%;}
.text5{color: #863324;  font-size: 110%;}
.text6{color: #ff6cfd;  font-size: 180%;}
.text7{color: #291621;  font-size: 150%;}